<%- include ('header') -%>
  <h1>Vállalatok</h1>
  <a href="/company/new">Új vállalat hozzáadása</a>
  <table>
    <thead>
      <tr>
       <th>Vállalatnév</th>
       <th>Telephely</th>
      </tr>
    </thead>
    <tbody>
      <% companies.forEach(function(company){ %>
        <tr>
            <td>
                <%= company.name %>
            </td>
            <td>
                <%= company.site %>
            </td>
            <td>
                <a href="/employee/<%= company._id %>">Megtekintés</a>
            </td>
            <td>
                <a href="/company/edit/<%= company._id %>">Szerkesztés</a>
            </td>
            <td>
              <form action = "/company/delete/<%= company._id %>" method = "get">
                <button type="submit">Törlés</button>
              </form>
            </td>
        </tr>
    <% }); %>

    </tbody>
  </table>

<%- include ('footer') -%>